<template>
    <div class="container-fluid p0" id="dvorak">
        <div 
            class="col-md-3" 
            v-for="(pic, i) in pictures.n" :key="i" 
            :style="{ 'background-image': 'url(' + pic + ')' }"></div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            pictures: {
                n: [
                    require("@/assets/img/roof/an/aa.jpg"),
                    require("@/assets/img/roof/an/ab.jpg"), 
                    require("@/assets/img/roof/an/ac.jpg"),
                    require("@/assets/img/roof/an/ad.jpg")
                ]
            }
        }
    }
}
</script>
<style lang="scss">
#dvorak {
    div {
        min-height: 250px;
        background-size: cover;
    }
}
</style>


