<template>
    <div class="container-fluid p0" id="dvorak">
        <a v-for="(pic, i) in pictures.n" :key="i" :href="pic.full" class="col-md-3">
            <div   
                :style="{ 'background-image': 'url(' + pic.thumb + ')' }"></div>
        </a>
        <a v-for="(pic, i) in pictures.a" :key="i+53552" :href="pic.full" class="col-md-3">
            <div  
                :style="{ 'background-image': 'url(' + pic.thumb + ')' }"></div>
        </a>
    </div>
</template>
<script>
export default {
    data() {
        return {
            pictures: {
                n: [
                    { full: require("@/assets/img/pergolas/19.jpg"), thumb: require("@/assets/img/thumbnails/pergolas/19.jpg") }, 
                    { full: require("@/assets/img/pergolas/20.jpg"), thumb: require("@/assets/img/thumbnails/pergolas/20.jpg") }, 
                    { full: require("@/assets/img/pergolas/21.jpg"), thumb: require("@/assets/img/thumbnails/pergolas/21.jpg") }, 
                    { full: require("@/assets/img/pergolas/22.jpg"), thumb: require("@/assets/img/thumbnails/pergolas/22.jpg") }, 
                ],
                a: [
                    { full: require("@/assets/img/roof/an/aa.jpg"), thumb: require("@/assets/img/thumbnails/roof/aa.jpg") },
                    { full: require("@/assets/img/roof/an/ab.jpg"), thumb: require("@/assets/img/thumbnails/roof/ab.jpg") },
                    { full: require("@/assets/img/roof/an/ac.jpg"), thumb: require("@/assets/img/thumbnails/roof/ac.jpg") },
                    { full: require("@/assets/img/roof/an/ad.jpg"), thumb: require("@/assets/img/thumbnails/roof/ad.jpg") }
                ],
            }
        }
    }
}
</script>
<style lang="scss" scoped>
@import "./../assets/css/variables";
#dvorak {
    a {
        padding: 0;
        overflow: hidden;
        @media #{$w_pad2_max} {
            min-height: 450px;
            width: 100%;
        }
    }
    div {
        background-size: cover;
        background-position: center;
        height: 250px;
        width: 100%;
        &:hover {
            transform: scale(1.05);
            transition: all .5s;
        }
        @media #{$w_pad2_max} {
            height: 450px;
        }
    }
}
</style>


