<template>
    <footer class="p_top">
        <div class="container-fluid  ">
            <div class="col-md-10 p_both">
                <div class="col-md-4 p0" v-html="address"></div>
                <div class="col-md-2"></div>
                <div class="col-md-6 p0 p_top_pad ">
                    <a :href="`tel:${tel}`">
                        <img src="@/assets/img/phone.png" alt="General builder tenerife phone" />
                        <span v-html=" `tel: +34 ${tel}`"></span>    
                    </a><br/><br/>
                    <a :href="`mailto:${email}`">
                        <img src="@/assets/img/email.png" alt="General builder tenerife email"/>
                        <span v-html=" `email: ${email}`"></span> 
                    </a>
                </div>
            </div>
                <a :href="url" class="col-md-2 p_both ">
                    <div class="logo"> </div>
                </a>
        </div>
        <div class="container-fluid" id="garbage" :style="{ 'background-image': 'url(' + pic + ')' }">
            <h1>
                Please be awere of our planet. <br/>
                research best materials to live in. <br/>
                human indifference is the actual polution!
            </h1>
        </div>
    </footer>
</template>
<script>
const pkg = require('./../package')
export default {
    data() {
        return {
            address: pkg.address,
            tel: pkg.tel,
            email: pkg.email,
            url: pkg.myurl,
            pic: require('@/assets/img/garbage.jpeg')
        }
    }
}
</script>
<style lang="scss" scoped>
@import "./../assets/css/variables";
footer {
    > div {
        display: flex;
        a {
            span {
                padding: 10px;
                top: 5px;
                position: relative;
            }
            img {
                float: left;
            }
            padding: 0;
            .logo {
                position: relative;
                z-index: 5;
                @media #{$w_pad_max} {
                    display: none;
                }
            }
            &:hover {
                text-shadow: 2px 2px 4px #000000;
            }
        }
    }
    #garbage {
        min-height: 400px;
        background-size: cover;
        h1 {
            color: white;
            font-size: 50px;
            text-transform: capitalize;
            text-align: center;
            width: 100%;
            margin: 100px auto;
        }
    }
}
</style>


