<template>
    <header>
        <div class="tel_top">
            <a :href="`tel:`+tel">
                <img src="@/assets/img/phone.png" alt="General builder tenerife phone" /><p>{{ ` `+tel }}</p>
            </a>
        </div>
        <nuxt-link to="/">
            <div class="logo"> </div>
        </nuxt-link>
        <!-- Menu buttons -->
        <Menucss />
    </header>
</template>
<script>
import Menucss from '~/components/Menucss.vue'
const pkg = require('./../package')
export default {
    data() {
        return {
            tel: pkg.tel,
            url: pkg.myurl
        }
    },
    components: {
        Menucss
    }
}
</script>
<style lang="scss" scoped>
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: white;
  width: 100%;
  height: 100px;
  .tel_top {
      z-index: 10;
      a {
        padding: 15px;
        z-index: 30;
        position: absolute;
        img {
            margin: 0 auto;
            display: block;
            z-index: 31;
        }
      }
  }
  .logo {
    position: fixed;
    top: 0px;
    right: 0px;
  }
}

</style>

