<template>
  <div class="mainmenu">
    <label for="show-menu" class="show-menu">
      MENU
    </label>
    <input id="show-menu" type="checkbox" role="button">
    <ul id="menu">
      <li v-for="(li, i) in lists" :key="i">
        <nuxt-link :to="li.s">
          <img :src="li.src" :alt="li.n" class="logo-menu" />
          {{ li.n }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>
<script>
import pkg from "./../package"
export default {
  data() {
    return {
      lists: [
        { n: 'Kitchens', s: this.$store.state.links.kitchens, src: require('@/assets/img/icons/kitchen.png') },
        { n: 'Bathrooms', s: '', src: require('@/assets/img/icons/bathtub.png') },
        { n: 'Flat renovation', s: '', src: require('@/assets/img/icons/house.png') },
        { n: 'Pergolas ', s: '', src: require('@/assets/img/icons/terrace.png') },
        { n: 'Contact', s: '', src: require('@/assets/img/icons/contacts.png') }
      ]
    }
  }
}
</script>

<style lang="scss">
@import "./../assets/css/variables";
/*Strip the ul of padding and list styling*/
.mainmenu {
  text-align: center;
}
.mainmenu ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  top: 50px;
  position: fixed;
  z-index: 9;
  width: 100%;
  display: inline-table;
  left: 0;
}

/*Create a horizontal list with spacing*/
.mainmenu li {
  display: inline-block;
  border-bottom: 10px solid $c_1;
}
.mainmenu li:hover {
  border-bottom: 10px solid $c_2;
  @media screen and (min-width: 1140px) {
    border-top: 20px solid $c_1;
    margin-top: -20px;
  }
  box-sizing: border-box;
}
/*Style for menu links*/
.mainmenu li a {
  font-weight: bold;
  display: block;
  min-width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $c_2;
  background: $c_3;
  text-decoration: none;
  padding: 0 30px;
  position: relative;
  img {
      max-width: 50px;
      position: absolute;
      top: -40px;
      right: 0;
      left: 0;
      margin: 0 auto;
    }
}
/*Hover state for top level links*/
.mainmenu li:hover a {
  background: $c_1;
  text-decoration: none;
  color: $c_2;
}
/*Style 'show menu' label button and hide it by default*/
.mainmenu .show-menu {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: $c_1;
  background: $c_2;
  text-align: center;
  padding: 10px 0;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  font-weight: bold;
  z-index: 11;
}
/*Hide checkbox*/
.mainmenu input[type='checkbox'] {
  display: none;
}
/*Show menu when invisible checkbox is checked*/
/*Responsive Styles*/
@media screen and (max-width: 1140px) {
  .mainmenu input[type='checkbox']:checked ~ #menu {
    display: block;
    width: 100%;
    position: fixed;
    top: 120px;
    left: 0;
    z-index: 10;
  }
  /*Make dropdown links appear inline*/
  .mainmenu ul {
    position: absolute;
    display: none;
  }
  /*Create vertical spacing*/
  /*Make all menu links full width*/
  .mainmenu ul li,
  .mainmenu li a {
    width: 100%;
    img {
      display: none;
    }
  }
  /*Display 'show menu' link*/
  .mainmenu .show-menu {
    display: block;
  }
}
</style>
