<template>
    <div class="container-fluid p0" id="lightgallery">
        <a v-for="(pic, i) in pictures.n" :key="i" :href="pic.full" class="col-md-3">
            <div 
                class="col-md-3"  
                :style="{ 'background-image': 'url(' + pic.thumb + ')' }"></div>
        </a>
    </div>
</template>
<script>
export default {
    data() {
        return {
            pictures: {
                n: [
                    { full: require("@/assets/img/kuchyn_natal/ab.jpg"), thumb: require("@/assets/img/thumbnails/kuchyn_natal/ab.jpg/") },
                    { full: require("@/assets/img/kuchyn_natal/ae.jpg"), thumb: require("@/assets/img/thumbnails/kuchyn_natal/ae.jpg") },
                    { full: require("@/assets/img/kuchyn_natal/ac.jpg"), thumb: require("@/assets/img/thumbnails/kuchyn_natal/ac.jpg") },
                    { full: require("@/assets/img/kuchyn_natal/af.jpg"), thumb: require("@/assets/img/thumbnails/kuchyn_natal/af.jpg") }
                ],
                
            }
        }
    }
}
</script>
<style lang="scss" scoped>
#lightgallery {
    a {
        padding: 0;
        overflow: hidden;
        @media (max-width: 992px) {
            min-height: 650px;
            width: 100%;
        }
    }
    div {
        background-size: cover;
        background-position: center;
        height: 650px;
        width: 100%;
        &:hover {
            transform: scale(1.05);
            transition: all .5s;
        }
    }
}
</style>


