<template>
  <div class="container-fluid p_top">
    <tabs
      :tabs="tabs"
      :currentTab="currentTab"
      :wrapper-class="'default-tabs'"
      :tab-class="'default-tabs__item'"
      :tab-active-class="'default-tabs__item_active'"
      :line-class="'default-tabs__active-line'"
      @onClick="handleClick"
    />
    <div class="content" id="tabsContent">
      <div v-if="currentTab === 'tab1'">
        <div class="row">
          <div class="max_width p_both">{{ eng.text.modern }}</div>
        </div>
        <div class="row" id="photos">
          <a v-for="(img, i) in imgs.modern" :key="i" :href="img" class="col-md-6 col-sm-12">
            <div class=" picture" :style="{ 'background-image': 'url(' + img + ')' }"></div>
          </a>
        </div>
      </div>
      <div v-if="currentTab === 'tab2'">
        <div class="row">
          <div class="max_width p_both">{{ eng.text.yourStyle }}</div>
        </div>
        <div class="row" id="photos">
          <a v-for="(img, i) in imgs.yourStyle" :key="i" :href="img" class="col-md-6 col-sm-12">
            <div class=" picture" :style="{ 'background-image': 'url(' + img + ')' }"></div>
          </a>
        </div>
      </div>
      <div v-if="currentTab === 'tab3'">
        <div class="row">
          <div class="max_width p_both">{{ eng.text.nordic }}</div>
        </div>
        <div class="row" id="photos">
          <a v-for="(img, i) in imgs.nordic" :key="i" :href="img" class="col-md-6 col-sm-12">
            <div class=" picture" :style="{ 'background-image': 'url(' + img + ')' }"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Tabs from './Tabkitchenopenline';

const TABS = [{
  title: 'MODERN',
  value: 'tab1',
}, {
  title: 'OWN STYLE',
  value: 'tab2',
}, {
  title: 'NORDICK',
  value: 'tab3',
}];

export default {
  components: {
    Tabs,
  },
  data: () => ({
    imgs: {
      modern: [ 
          require('@/assets/img/kuchyn_cerven/1.jpg'), 
          require('@/assets/img/kuchyn_cerven/3.jpg'),
          require('@/assets/img/kuchyn_cara/1.jpg'), 
          require('@/assets/img/kuchyn_cara/2.jpg')
        ],
      yourStyle: [ 
          require('@/assets/img/kuchyn_drev/2.jpg'), 
          require('@/assets/img/kuchyn_drev/3.jpg'),
          require('@/assets/img/kuchyn_drev/6.jpg'), 
          require('@/assets/img/kuchyn_drev/4.jpg')
        ],
      nordic: [ 
          require('@/assets/img/kuchyn_natal/af.jpg'), 
          require('@/assets/img/kuchyn_natal/ad.jpg'),
          require('@/assets/img/kuchyn_bil/1.jpg'), 
          require('@/assets/img/kuchyn_bil/4.jpg')
        ]
    },
    eng: {
      text: {
        modern:  'Our modern kitchens are infused with a sense of warmth and plenty ' +
                'of contemporary touches, whether it’s the rosy tones of our cashmere ' +
                'kitchen cabinets, our sterling range of graphite and quartz kitchen ' +
                'worktops or the elegant storage solutions that put your personal ' +  
                'flair on display.',
        yourStyle: 'No matter how big or small your kitchen, bathroom, or built in ' +
                'cabinet project you can count on our highly experienced and ' +
                'knowledgeable team to bring your project to life, just as you ' +
                'imagined it, with a blend of creativity, technology and superb ' +
                'craftsmanship.',
        nordic: 'Scandinavian design—an aesthetic marked by minimalism and ' +
                'functionality—has been influential since its inception in the early ' +
                '20th century, but design ideas are still coming into the mainstream ' +
                'from the Nordic region to this day. '
      }
    },
    tabs: TABS,
    currentTab: 'tab1',
  }),
  methods: {
    handleClick(newTab) {
      this.currentTab = newTab;
    },
  },
  mounted() {
    lightGallery(document.getElementById('photos'))
  }
}
</script>

<style lang="scss">
@import "./../assets/css/variables";
.default-tabs {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  @media (max-width: 992px) {
    flex-direction: column;
  }

  &__item {
    display: inline-block;
    padding-bottom: 8px;
    font-size: 30px;
    letter-spacing: 0.8px;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 0.25s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    font-weight: bold;
    span {
      width: 100%;
      background: black;
      padding: 15px;
    }
    @media (max-width: 992px) {
      height: 200px;
    }

    &_active {
      color: black;
      span {
        background: white;
      }
    }

    &:hover {
      span {
        background: gray;
      }
    }

    &:focus {
      outline: none;
      color: black;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__active-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    background-color: black;
    transition: transform 0.4s ease, width 0.4s ease;
  }
}

.content {
  margin-top: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  a {
    padding: 5px;
    @media (max-width: 992px) {
      width: 100%;
    }
    .picture {
      height: 600px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      transition: all .2s ease-in-out;
      z-index: 1;
      @media (max-width: 992px) {
        height: 300px;
      }
      &:hover {
        transform: scale(1.1);
        z-index: 5
      }
    }
  }
  .max_width {
    padding-right: 250px;
    padding-left: 250px;
    @media (max-width: 992px) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
</style>
