<template>
  <nav class="tabs" :class="wrapperClass">
    <button
      class="col-md-4 tabs__item"
      type="button"
      v-for="(tab, i) in tabs"
      :ref="tab.value"
      :key="i"
      :class="[
        { 'tabs__item_active' : tab.value === currentTab },
        tab.value === currentTab && tabActiveClass ? tabActiveClass: '',
        tabClass,
      ]"
      :style="i == 0 ? {'background-image': 'url(' + imgs.first + ')'} : '' || 
              i == 1 ? {'background-image': 'url(' + imgs.second + ')'} : '' ||
              i == 2 ? {'background-image': 'url(' + imgs.third + ')'} : ''"
      v-scroll-to="{ el: '#tabsContent', offset: -200 }"
      :disabled="tab.disabled || false"
      @click="handleClick(tab.value)"
    >
      <span>{{ tab.title }}</span>
    </button>
    <div
      class="tabs__active-line"
      :class="lineClass"
      :style="{ width: `${activeLineWidth}px`, transform: `translateX(${activeLineOffset}px)` }"
    />
  </nav>
</template>

<script>
export default {
  name: 'vue-tabs-with-active-line',
  props: {
    currentTab: {
      type: String,
      required: true,
    },
    tabs: {
      type: Array,
      required: true,
    },
    wrapperClass: {
      type: String,
      required: false,
    },
    tabClass: {
      type: String,
      required: false,
    },
    tabActiveClass: {
      type: String,
      required: false,
    },
    lineClass: {
      type: String,
      required: false,
    },
  },
  watch: {
    currentTab(newCurrentTab) {
      if (this.newTab === newCurrentTab) return;
      this.moveActiveLine(newCurrentTab);
    },
  },
  data: () => ({
    imgs: { first: require('@/assets/img/kuchyn_cerven/1.jpg'), 
            second: require('@/assets/img/kuchyn_drev/4.jpg'), 
            third: require('@/assets/img/kuchyn_natal/ab.jpg')},
    activeLineWidth: 0,
    activeLineOffset: 0,
    newTab: '',
  }),
  methods: {
    handleClick(value) {
      this.$emit('onClick', value);
      this.moveActiveLine(value);
      this.newTab = value; 
    },
    moveActiveLine(newValue) {
      const element = this.$refs[newValue][0];
      if (!element) return;

      this.activeLineWidth = element.clientWidth;
      this.activeLineOffset = element.offsetLeft;
    },
  },
  mounted() {
    this.moveActiveLine(this.currentTab);
  },
};
</script>
