
@import "./variables";
body, html {
    padding: 0;
    margin: 0;
    color: black;
}
h1, h3, p {
    padding-bottom: 15px;
}
h1 {
    font-size: 40px;
}
h3 {
    font-size: 23px;
}
h4 {
    font-size: 18px;
}
p {
    font-size: 15px;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

/*color*/
.bg_white {
    background: rgba(255, 255, 255, 0.8);
}
.bg_blue {
    background: rgba(0, 26, 255, 0.7);
}
.p0 {
    padding: 0 0;
}
/* padding*/
.p_top {
    padding-top: 32px;
}
.p_top_pad {
    padding-top: 0px;
    @media #{$w_pad2_max} {
        padding-top: 32px;
    }
}
.p_bottom {
    padding-bottom: 32px;
}
.p_both {
    padding-bottom: 32px;
    padding-top: 32px;
}
.p_both_h {
    padding-bottom: 50px;
    padding-top: 50px;
}
.text_center {
    text-align: center;
}
.fpt {
    padding-top: 150px;
}
.logo {
    background: url('./../img/menu.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 90px;
    z-index: 10;
    @media (max-width: 1140px){
        top: 0;
        left: 50%;
        width: 140px;
        height: 90px;
        margin-left: -50px;
    }
}
.page-enter-active, .page-leave-active {
    transition: all 0.5s;
}
.page-enter, .page-leave-active {
    opacity: 0;
}