<template>
    <section>
        <Header />
            <div class="swiper-container">
                <img :src="img.garantiee" class="garantiee" />
                <div class="swiper-wrapper" id="kuchyne_sliding">
                    <a v-for="(img, i) in imgs" :key="i" class="swiper-slide" :href="img.src">
                        <div :style="{ 'background-image': 'url(' + img.src + ')' }"></div>
                    </a>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="container-fluid p_both" id="kitchen_text">
                <div class="row max_width_700">
                    <h1 class="text_center">{{ eng.headers.a }}</h1>
                </div>
            </div>
            <Tabkitchen />
        <Footer />
    </section>
</template>
<script>
import Header from "@/components/Header"
import Footer from "@/components/Footer"
import Tabkitchen from "@/components/Tabkitchen"
import { Route } from "vue-router"
import { setInterval } from 'timers';
const pkg = require('./../../package')
export default {
    data() {
        return {
            storedata: this.$store.state.var2,
            img: { garantiee: require('@/assets/img/3_year_warranty.svg'), },
            imgs: [
                { src: require('@/assets/img/kuchyn_cerven/9.jpg'), thumb: require('@/assets/img/thumbnails/kuchyn_cerven/9.jpg'), t: "hello"},
                { src: require('@/assets/img/kuchyn_drev/3.jpg'),   thumb: require('@/assets/img/thumbnails/kuchyn_drev/3.jpg'), t: "hello"},
                { src: require('@/assets/img/kuchyn_natal/ae.jpg'), thumb: require('@/assets/img/thumbnails/kuchyn_natal/ae.jpg'), t: "hello"},
                { src: require('@/assets/img/kuchyn_bil/5.jpg'),    thumb: require('@/assets/img/thumbnails/kuchyn_bil/5.jpg'), t: "hello"},
                { src: require('@/assets/img/kuchyn_cara/1.jpg'),   thumb: require('@/assets/img/thumbnails/kuchyn_cara/1.jpg'), t: "hello"}
            ],
            eng: {
                headers: {
                    a: "WE ARE ONE OF THE MOST PROMINENT KITCHEN BUILDERS ON THE ISLAND OF TENERIFE"
                }
            }
        }
    },
    components: {
        Header, Footer, Tabkitchen
    },
    head() {
        return {
            link: [
                { rel: 'stylesheet', href: pkg.myurl + 'css/lightgallery.min.css' },
                { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css' }
            ]
        }
    },
    mounted() {
        var mySwiper = new Swiper ('.swiper-container', {
        // Optional parameters
            slidesPerView: 3,
            spaceBetween: 30,
            freeMode: true,
            loop: true,
            autoplay: {
                delay: 5000,
            },
            breakpoints: {
                992: {
                    slidesPerView: 2 
                },
                768: {
                    slidesPerView: 1
                }
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            }
        })
        lightGallery(document.querySelector('.swiper-wrapper'))
        console.log("kitchen page")
    }
}
</script>
<style lang="scss" scoped>
@import "./../../assets/css/variables";
#tns1-iw {
    margin: 0!important;
}
.swiper-container {
    width: 100%;
    height: 500px;
    margin-top: 125px;
    @media (max-width: 992px) {
        margin-top: 20px;
        min-height: 650px;
    }
    .garantiee {
        display: block;
        position: absolute;
        z-index: 2;
        max-width: 120px;
        top: 20px;
        right: 30px;
        @media (max-width: 992px) {
            top: 90px;
        }
    }
}
.swiper-slide {
        padding: 0!important;
        div{
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            background-position: center center;
            background-size: cover;
            width: 100%;
            height: 100%;
            transition: all .2s ease-in-out;
            z-index: 1;
            &:hover {
                transform: scale(1.1);
                z-index: 5
            }
    }
}
#kitchen_text {
    h1 {
        max-width: 700px;
        border-bottom: 10px solid black;
        position: relative;
        &:before {
            content: "";
            width: 0px;
            height: 0px;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-top: 30px solid black;
            position: absolute;
            bottom: -40px;
            left: 47% ;
        }
    }
}
.max_width_700 {
    max-width: 700px;
}

</style>

