<template>
  <section>
    <!-- Background photo -->
    <div class="imgback" id="topimgbg" :style="{ 'background-image': 'url(' + img.top + ')' }"></div>
    <!-- Header -->
    <Header />
    <!-- Kitchen Natalka -->
    <div class="container-fluid fpt p_bottom" id="contimgbg">
      <div class="row">
        <div class="col-md-6 bg_white padding_full">
          <h1>{{ text.eng.t }}</h1>
          <h3>{{ text.eng.subt }}</h3>
          <p v-html="text.eng.m"></p>
        </div>
        <div class="col-md-6 padding_top_small_view">
          <h3 class="bg_white padding_full">{{ text.eng.what }}</h3>
          <ul>
            <li v-for="(service, i) in text.eng.services" :key="i">
              <nuxt-link :to="service.href" class="bg_blue"><span>{{ service.n }}</span><span class="show">&nbsp;&nbsp;{{ text.eng.find }}</span></nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Natal kitchem comp -->
    <Natal />
    <!-- Te -->
    <div class="container-fluid p_both_h" id="divs">
      <div 
        class="row " 
        v-for="(div, i) in text.eng.divs" 
        :key="i"
        :class="i==1 ? 'flex' : ''">
        <div class="text col-md-6">
          <h1 :class="i==1 ? 'p_top' : ''"> {{ div.t }} </h1>
          <h4 class="p_both"> {{ div.n }} </h4> 
          <div class="but  p_bottom">
            <nuxt-link :to="div.but.src" class="bg_blue">
              <h3> {{ div.but.t }}
                <i class="arrow right"></i>
                <i class="arrow right"></i>
                <i class="arrow right"></i>
              </h3>
            </nuxt-link>
          </div>
        </div>
        <div class="pic col-md-6"  :style="{ 'background-image': 'url(' + div.img + ')' }"></div>
      </div>
    </div>
    <Dvorak />
    <!-- divs2 -->
    <div class="container-fluid imgdivs2" id="divs2" :style="{ 'background-image': 'url(' + text.eng.divs2.img + ')' }">
      <div class="row">
        <div class="col-md-2" ></div>
        <div class="col-md-10 p0 p_both">
          <h1 class="p_both">{{ text.eng.divs2.t }} </h1>
          <h4 v-html="text.eng.divs2.n" class="p_bottom"></h4>
        </div>
      </div>
    </div>
    <div class="container-fluid p_both" id="count">
      <div 
        class="col-md-2 col-xs-6 bg_blue p_both"
        v-for="(build, i) in text.eng.divs2.builds" 
        :key="i">
          <h3>{{ build.t }}</h3>
          <h1> {{ build.count }}</h1>
      </div>
    </div>
    <!-- divs2 end -->
    <!-- Footer -->
    <Footer />
  </section>
</template>

<script>
import Header from '~/components/Header.vue'
import Natal from '~/components/Natal.vue'
import Dvorak from '~/components/Dvorak.vue'
import Footer from '~/components/Footer.vue'
import { setTimeout } from 'timers';
const pkg = require('./../package')

export default {
  components: {
    Header, Natal, Dvorak, Footer
  },
  data() {
    return {
      items: [],
      img: { top: require('@/assets/img/aa.jpg') },
      text: {
        eng: {
          t: 'ARA General builders',
          subt: 'Arona Tenerife',
          m:
            'We are group of friendly and professional builders from various industries ' +
            'based in Arona, Santa Cruz de Tenerife, primary working in private sector <br/><br/> Our group is made up of: <br/><b>2 carpenters, ' +
            '2 masons, plumber, <br/>tailer / painter and side electrician </b><br/><br/>We are conscientious, reliable, ' +
            'hardworking, friendly and trustworthy. As well we try to keep our prices ' +
            'low to the standards of the local markets. We communicate well and keep our customers ' +
            'informed throughout every project. <br/><br/> We never change our prices ' +
            'unless there is additional jobs to do. Maintain a clean and tidy work area, and ' +
            'respect our customers as well as the environment we are working in.',
          what: 'What service are you looking for',
          services: [
            {n: 'kitchen renovation', href: this.$store.state.links.kitchens },
            {n: 'flat renovation', href: ''},
            {n: 'pergola construction', href: ''},
            {n: 'terrace construction', href: ''},
            {n: 'bathroom renovation', href: ''},
            {n: 'roof renovation', href: ''},
          ],
          find: 'Find out more',
          divs: [
            {
              t: 'From planing to realization',
              n: 'We inform you about all parts of the projects. Planning is will move according ' +
                'to your batget and wishes. There is thousands possibilities how to do one thing. ' +
                'Our product are made of high quality materials. Durabily and design of your project ' +
                'is our priority. We dont play the game and we are sure we meet your wishes. ' +
                'Take a look on our previously made kitchens.',
              but: {
                src: '/kitchens/', t: 'Go to kitchen section'
              },
              img: require('@/assets/img/kuchyn_cerven/9.jpg')
            },
            {
              t: 'Wooden decking',
              n: 'Constructing centimeter perfect decking. We garanty 10 years free boards ' +
                'change if destructed due to construction or material failier. We use ' +
                'moder and with years proven oldschool methods to construct decking. We are not '+
                'scared to take a chalange of new construction methods. <br/><br/> For every ' +
                'construction project we prepare plans and 3D project in advance.',
              but: {
                src: pkg.myurl + 'pergolasanddecking', t: 'Go to Pergolas / Terraces section'
              },
              img: require('@/assets/img/terrace/ae.jpg')
            }
          ],
          divs2: {
            t: 'Our group supply jobs from A to Z',
            n: 'How we mentioned on the begining, we are able to supply most of the jobs ' +
                'at your house from A to Z. Whether you need a general contractor to oversee ' +
                'a new building or renovation project, or you are looking for a company you can ' +
                'trust to help keep your property in top shape, we are ready to help. <br/><br/>' +
                'We are experience specialists with the educational and long time experience bases. ' +
                'Give you project in our hands and help you to make your wishes ready. <br/<br/>' +
                'Many of our customers are nicely surprice when we give them high standards ' +
                'fitted in their budget. There all starts. When you have a tide budget but your ' +
                'house / flat need repaire we adjust the work according to your possibilities.<br/><br/>' +
                'All of our cooperatives work on "autonomo", self-employed. Our jobs are garantied with ' +
                'necesary paper work.',
            img: require('@/assets/img/imgdivs22.jpg'),
            builds: [
              { t: 'Kitchens renovated', count: '13' },
              { t: 'Pergolas or decking built', count: '19' },
              { t: 'Flat renovations finished', count: '12' },
              { t: 'House renovations finished', count: '1' },
              { t: 'Bathrooms renovated', count: '8' },
              { t: 'Roofs renovated', count: '8' }
            ]
          }
        }
      }
    }
  },
  head() {
    return {
      link: [
        { rel: 'stylesheet', href: pkg.myurl + 'css/lightgallery.min.css' }
      ]
    }
  },
  mounted() {
      lightGallery(document.getElementById('lightgallery'));
      lightGallery(document.getElementById('dvorak'));
      console.log("main page")
  }
}
</script>

<style lang="scss">
.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
h1, h3, p  {
  text-align: left;
}
p b {
  font-size: 20px;
}
a {
  padding: 15px;
}
.imgback {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.padding_full {
  padding: 20px;
}
.padding_top_small_view {
  @media (max-width: 992px){
    padding-top: 30px;
  }
}
#contimgbg {
  ul {
    list-style-type: none;
    li {
      position: relative;
      text-align: left;
      font-size: 20px;
      left: 0px;
        transition: all .5s;
        &:hover {
          left: -30px;
        }
      span.show {
        opacity: 0;
        transition: all .4s;
        right: 10px;
        position: absolute;

      }
      a {
        font-weight: bold;
        color: white;
        display: flex;
        margin-top: 5px;
        &:hover span.show {
          opacity: 1;
        }
      }
    }
  }  
}
#divs {
  .but {
    a {
      right: 0px;
      position: relative;
      transition: all .5s;
      &:hover {
        right: -20px;
        .arrow {
          border-color: white;
        }
      }
    }
    position: relative;
    h3 {
      padding-bottom: 0px;
    }
    i {
      display: inline-block;
      
    }
  }
  .flex {
    display: flex;
    flex-direction: row-reverse;
      @media (max-width: 992px) {
        flex-direction: column;
      }
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
      &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
  }
  .pic{
    background-size: cover;
    min-height: 400px;
  }
}
#divs2 {
  &.imgdivs2 {
    background-repeat: no-repeat; 
    background-position: left 10% center;
    background-size: auto 90%;
    @media (max-width: 992px) {
        background: none!important;
      }
  }
}
#count {
  div {
    box-sizing: border-box;
    border: 5px white solid;
  }
  h3 {
    height: 100px;
    text-align: center;
  }
  h1 {
    text-align: center;
  }
}

</style>
